---
---

@import "minima";

$base-font-family-japanese: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$base-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family-japanese;
}

pre,
code {
  font-family: $base-font-family-monospace;
}